* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
}

.header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0077ff;
}

/* MOBILE */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #111;
}

/*MAIN CONTENT  */
.main-content {
  padding-top: 120px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0;
  background-color: #fafafa;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer p {
  font-size: 14px;
  color: #666;
}

.social-links a {
  text-decoration: none;
  margin-left: 18px;
  font-size: 14px;
  color: #0077ff;
}

.social-links a:hover {
  text-decoration: underline;
}

/* .resume-btn {
  padding: 6px 14px;
  border: 1px solid #0077ff;
  border-radius: 4px;
  color: #0077ff;
}

.resume-btn:hover {
  background-color: #dee2e6;
  color: white;
} */

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #ffffff;
    width: 220px;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    display: none;
    gap: 15px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .footer-container {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .social-links a {
    margin: 0 8px;
  }
}
